<!--<div class="modal">-->
<!--  <form (ngSubmit)="onSubmit()">-->
<!--    <label for="employee">Employee:</label>-->
<!--    <input type="text" id="employee" [(ngModel)]="newTimeOff.name" name="employee" required>-->

<!--    <label for="category">Category:</label>-->
<!--    <select id="category" [(ngModel)]="newTimeOff.category" name="category" required>-->
<!--      <option value="Unpaid Time Off">Unpaid Time Off</option>-->

<!--    </select>-->

<!--    <label for="from">From:</label>-->
<!--    <input type="date" id="from" [(ngModel)]="newTimeOff.fromDate" name="from" required>-->

<!--    <label for="to">To:</label>-->
<!--    <input type="date" id="to" [(ngModel)]="newTimeOff.toDate" name="to" required>-->

<!--    <label for="status">Status:</label>-->
<!--    <select id="status" [(ngModel)]="newTimeOff.status" name="status" required>-->
<!--      <option value="Approved">Approved</option>-->
<!--      &lt;!&ndash; More status options can be added here &ndash;&gt;-->
<!--    </select>-->

<!--    <button type="submit">Submit</button>-->
<!--  </form>-->
<!--</div>-->

