.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #e0e0e0;
}

.header-search input[type="text"] {
  //width: 100%;
  padding-right: 35px;
  padding-left: 10px;
  border-radius: 50px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 35px;
}

.icon-search {
  position: absolute;
  right: 8px;
  top: 10px;

}
.allSearch{
 position:  relative;
}
.header-search {
  position: relative;
  display: flex;
  align-items: center;
}




.icon-notification, .icon-settings {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  cursor: pointer;
}
