<div class="header-container">

  <div class="header-title">
    <h1>Time off</h1>
  </div>

  <div class="header-search">
    <div class="allSearch" >
      <input type="text" placeholder="Search..." class="img-search" />
      <img src="assets/search.png" alt="Search" class="icon-search"/>
    </div>
    <img src="assets/notification-icon.png" alt="Notification" class="icon-notification" />
    <img src="assets/settings-icon.png " alt="Settings" class="icon-settings" />
    <app-account></app-account>
  </div>
</div>


