<div class="supercool-card">
  <div class="supercool-header">
    <img [src]="userData.imgSrc" [alt]="userData.name" class="supercool-image">
    <div class="supercool-header-details">
      <h3 class="supercool-name">{{ userData.name }}</h3>
      <p class="supercool-by">By: {{ userData.by }}</p>
    </div>
    <button class="supercool-options">
      <img src="assets/share.png" alt="Options icon">
    </button>
  </div>
  <div class="supercool-body">
    <div class="supercool-row">
      <p>Date submitted</p>
      <span>{{ userData.dateSubmitted }}</span>
    </div>
    <div class="supercool-row">
      <p>Category</p>
      <span>{{ userData.category }}</span>
    </div>
    <div class="supercool-row">
      <p>Time of requested</p>
      <span>{{ userData.timeRequested }}</span>
    </div>
    <div class="supercool-row">
      <p>Status</p>
      <span class="status-approved">
        <button class="status-button">
          <img [src]="userData.statusIcon" alt="point" class="point-img">
          {{ userData.status }}
        </button>
      </span>
    </div>
  </div>
</div>

