<div class="supercool-card">
  <div class="supercool-header">
    <img [src]="userData.imgSrc" [alt]="userData.name" class="supercool-image">
    <div class="supercool-header-details">
      <h3 class="supercool-name">{{ userData.name }}</h3>
      <p class="supercool-by">By: {{ userData.by }}</p>
    </div>
    <div class="dropdown">
      <button class="supercool-options dropdown-toggle">
        <img src="assets/share.png" alt="Options icon">
      </button>
      <div class="dropdown-content">
        <div class="dropdown-item" (click)="onEdit()">Edit</div>
        <div class="dropdown-item" (click)="onDelete()">Delete</div>
      </div>
    </div>
  </div>
  <div class="supercool-body">
    <div class="supercool-row">
      <p>Date submitted</p>
      <span>{{ userData.dateSubmitted }}</span>
    </div>
    <div class="supercool-row">
      <p>Category</p>
      <span>{{ userData.category }}</span>
    </div>
    <div class="supercool-row">
      <p>Time of requested</p>
      <span>{{ userData.timeRequested }}</span>
    </div>
    <div class="supercool-row">
      <p>Status</p>
      <span class="status-approved">
        <button class="status-button">
          <img [src]="userData.statusIcon" alt="point" class="point-img">
          {{ userData.status }}
        </button>
      </span>
    </div>
  </div>
</div>
<!--<app-add-time-off-->
<!--  *ngIf="showAddTimeOffModal"-->
<!--  [existingTimeOff]="selectedTimeOff"-->
<!--  (timeOffAdded)="handleEditTimeOff($event)">-->
<!--</app-add-time-off>-->
<app-add-time-off
  *ngIf="showAddTimeOffModal"
  [existingTimeOff]="userData"
  (timeOffAdded)="handleEditTimeOff($event)">
</app-add-time-off>
