<div class="header">
  <div class="left-section">
    <button [ngClass]="{ 'active': activeTab === 'all-location' }" (click)="selectTab('all-location')">
      <img src="assets/down-arrow.png" alt="Dropdown icon" class="icon"/>
      All Location
    </button>
    <button [ngClass]="{ 'active': activeTab === 'sort' }" (click)="selectTab('sort')">
      <img src="assets/filter.png" alt="Sort icon" class="icon"/>
      Sort
    </button>
  </div>

  <button class="add-time-off-button" (click)="selectTab('add-time-off')">
    + Add time off
  </button>


</div>

<div class="content">
  <div *ngIf="activeTab === 'all-location'">
    <app-all-location></app-all-location>
  </div>
  <div *ngIf="activeTab === 'sort'">
    <app-sort></app-sort>
  </div>
  <div *ngIf="activeTab === 'add-time-off'">
    <app-add-time-off></app-add-time-off>
  </div>
</div>


<div class="container">
  <app-user-card class="box"
    *ngFor="let user of users"
    [userData]="user">
  </app-user-card>
</div>


