<div class="supercool-card">
  <div class="supercool-header">
    <img src="assets/woman1.png" alt="Supercool" class="supercool-image">
    <div class="supercool-header-details">
      <h3 class="supercool-name">Guy Hawkins</h3>
      <p class="supercool-by">By: Nadia C</p>
    </div>
    <button class="supercool-options">
      <img src="assets/share.png" alt="Options icon">
    </button>
  </div>
  <div class="supercool-body">
    <div class="supercool-row">
      <p>Date submitted</p>
      <span>Oct 4, 2023</span>
    </div>
    <div class="supercool-row">
      <p>Category</p>
      <span>Unpaid Time Off</span>
    </div>
    <div class="supercool-row">
      <p>Time of requested</p>
      <span>Oct 01, 2023 - 12:15am</span>
    </div>
    <div class="supercool-row">
      <p>Status</p>
      <span class="status-approved">

        <button class="status-button">
          <img src="assets/Green_icon.svg.png" alt="point" class="point-img">
          Approved</button>

      </span>
    </div>

  </div>
</div>

