//.sidebar {
//  width: 200px;
//  background-color:#D4D6D9;
//  padding: 20px;
//  height: 100vh;
//  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
//}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.logo h2 {
  font-size: 24px;
  font-family: 'Inter', sans-serif;
  color: #2F5A76;
}
.menu h4 {
  font-family: 'Inter', sans-serif;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 10px;
  color: #666;
}
.a{
  text-decoration: none;
}

